body {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}



h1, h2.my-gallery  {
  color: white;
  text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.my-gallery {
  overflow: hidden;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.my-gallery figure, img {
  margin: 0;
  padding: 0;
}

.my-gallery figure {
  display: block;
  float: left;
  height: 80px;
}

.pags ul {
  display: flex;
  justify-content: center;
}

.pags {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}