extends gallery 

block gallery
    each album in albums
        h2.my-gallery #{album.name}
        .my-gallery
            each photo in album.detail
                figure
                    a(href=photoServer+photo.originalPhoto.href, data-size=photo.originalPhoto.width+'x'+photo.originalPhoto.height)
                        img(src='data:image/jpeg;base64,'+photo.thumbnailRaw)
